<h2 style='text-align:center; margin-top: 20px'>Your bookings</h2>

<div class='booking-container'>
    <% @bookings.each do |booking| %>
        <div class='booking_car-container'>
            <div class='booking_details'>
                <%= cl_image_tag booking.car.image, width: 400, height: 280, crop: :thumb %>
                <h5> <%=booking.start_date%> - <%=booking.end_date%></h5>
                <h5> $<%=booking.price%></h5>
                <h5> $<%=booking.status%></h5>
            </div>
        </div>
    <%end%>
</div>
