<h1 style="padding: 35.75px; margin: 0px"> Our collection of Cars </h1>
<div class='index-result'>
    
    <div class='carbig-container'>
        <% @cars.each do |car| %>
            <div class='car-card'>
                <div>
                    <%= link_to car_path(car) do %>
                        <%= cl_image_tag car.image, class:'card-image' %>
                    <% end %>
                </div>
                <div class='card-details'>
                    <h5> <%=car.brand%> <%=car.model%></h5>
                    <h5> $<%=car.price_per_day%> <small>/day</small> </h5>
                </div>
            </div>
        <%end%>
    </div>
    <div
    id="map"
    class="index-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
</div>
