<h2>Browse your selection of cars</h2>
<%= link_to "Go back", :back, class: 'btn btn-dark'%>

<div class='carbig-container'>
    <% @cars.each do |car| %>
        <div class='car-container'>
          <%= link_to car_path(car) do %>
            <%= cl_image_tag car.image, width: 400, height: 280, crop: :thumb %>
          <% end %>
            <div class='details'>
                <h5> <%=car.brand%><%=car.model%></h5>
                <h5> $<%=car.price_per_day%> <small>/day</small> </h5>
            </div>
            <div class=buttons>
              <%= link_to "Show Car", car_path(car), class: "btn-show" %>
              <% if policy(Car).create? %>
              <%= link_to "Edit Car", edit_car_path(car), class: "btn-edit" %>
              <%= link_to "Delete Car", car_path(car), method: :delete, class: "btn-delete" %>
            <% end %>
            </div>
          </div>
    <%end%>
</div>
