<h2 style='text-align:center; margin-top: 20px'>My cars</h2>
<div class='carsmall-container'>
  <% @cars.each do |car| %>
    <div class='car-card-big'>
      <div>
        <%= link_to car_path(car) do %>
          <%= cl_image_tag car.image, class:'card-image', crop: :thumb %>
        <% end %>
      </div>
      <div class='card-details'>
          <h5> <%=car.brand%> <%=car.model%></h5>
          <h5> $<%=car.price_per_day%> <small>/day</small> </h5>
      </div>
      <div class="my-car-buttons">
        <%= link_to "Show Car", car_path(car), class: "btn-l btn-show shrink" %>
        <% if policy(Car).create? %>
          <%= link_to "Edit Car", edit_car_path(car), class: "btn-l btn-edit shrink" %>
          <%= link_to "Delete Car", car_path(car), method: :delete, class: "btn-l btn-delete shrink" %>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
