<div class='big-container'>
        <div class='carshow-container'>
                <img src='https://www.automobilesreview.com/gallery/hyundai-luxury-sports-coupe-hnd-9/hyundai-luxury-sports-coupe-hnd-9-01.jpg' alt='luxury car' style='height: 500px;'>        
            <div class='show-details'>
            <h2> <%=@car.brand%> <%=@car.model%></h2>
            <table style="widthx:60%">
            <tr>
              <td>Address:</th>
              <td><%= @car.address %></th>
            </tr>
            <tr>
              <td>Year:</td>
              <td><%= @car.year %></td>
            </tr>
            <tr>
              <td>Odometer:</td>
              <td><%= @car.odometer %></td>
            </tr>
            <tr>
              <td>Transmission:</td>
              <td><%= @car.transmission %></td>
            </tr>
            <tr>
              <td>License Plate:</td>
              <td><%= @car.license_plate %></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td><%= @car.description %></td>
            </tr>
            <tr>
              <td>Transmission:</td>
              <td><%= @car.transmission %></td>
            </tr>
            <tr>
              <td>Price per day:</td>
              <td><%= @car.price_per_day %>$</td>
            </tr>
          </table>
          </div>
        </div>
</div>
