 <ul>  
<li>image:<%= @car.image %></li>
<li>Address: <%= @car.address %></li>
<li>Brand: <%= @car.brand %></li>
<li>Year: <%= @car.year %></li>
<li>Model: <%= @car.model %></li>
<li>Odometer: <%= @car.odometer %></li>
<li>Transmission: <%= @car.transmission %></li>
<li>License Plate: <%= @car.license_plate %></li>
<li>Description: <%= @car.description %></li>
<li>Availability:<%= @car.availability %></li>
<li>Price_per_day:<%= @car.price_per_day %></li>
<li><%= @car.latitude %></li>
<li><%= @car.longitude %></li>
<li>Created_at<%= @car.created_at %></li>
<li>Updated_at<%= @car.updated_at %></li>
<ul> 

<div class="card-trip">
  <img src="<%= @car.image %>">
  <div class="card-trip-infos">
    <div>
      <h2><%= @car.model %></h2>
      <p><%= @car.brand %></p>
      <p>Address:<%= @car.address %></p>
      <p>Year:<%= @car.year %></p>
      <p>Odometer<%= @car.odometer %></p>
      <p>Transmission: <%= @car.transmission %></p>
      <p>License Plate: <%= @car.license_plate %></p>
      <p>Description: <%= @car.description %></p>
      <p>Availability:<%= @car.availability %></p>
      <p>Price_per_day:<%= @car.price_per_day %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>

