<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LUJO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <% if user_signed_in? %>

      <div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon">
        <%= link_to '/', class: "navbar-brand" do %>
          <%= image_tag "" %>
          <%= Lujo %>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <%= form_tag cars_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a car..."
              %>
            <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to "List a car", new_car_path, class: "nav-link" %>
            </li>


            <% if current_user.avatar.url %>
              <li class="nav-item dropdown ml-4">
                <%= cl_image_tag current_user.avatar, class: "avatar-user dropdown-toggle", crop: :thumb, gravity: :face , id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
               <li class="nav-item dropdown ml-4">
                <%= image_tag "avatar-placeholder.png", class: "avatar-user dropdown-toggle", style: "linear-gradient" ,id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "My cars", user_cars_path(current_user), class: "dropdown-item" %>
                  <%= link_to "My bookings", "#", class: "dropdown-item" %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
          </ul>
        </div>
      <% else %>
    <div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "" %>
          <%= Lujo %>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= form_tag cars_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a car..."
              %>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>

    </div>
    <%= yield %>
    <%# <%= #debug(params) if Rails.env.development? %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
